<div class="row">
  <div class="col">
    <h4>Contacts</h4>
  </div>
  <div class="col">
    <!-- <a class="btn btn-success float-right" role="button" routerLink="new">Add</a> -->
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="input-group-sm">
      <input [(ngModel)]="searchText" class="form-control" placeholder="Search here">
    </div>
  </div>
</div>

<br/>

<ul class="list-group">
  <a routerLink="{{entry._id}}"
      class="list-group-item list-group-item-action"
      *ngFor="let entry of entries | filter : searchText : entry : filterFunction">
    {{entry.firstName}}&nbsp;{{entry.lastName}}
  </a>
</ul>

<!-- <ngb-pagination [collectionSize]="(entries | filter : searchText : 'firstName').length"
  [(page)]="page"
  aria-label="Default pagination"
  [pageSize]="5"></ngb-pagination> -->
